<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Producciones Pomponio</title>
</head>
<body>
	<div>
		<h1>Asignación de Actor y Actriz Principales</h1>
		<h4>
			<a href="/listaGuionesProduccion">REGRESAR</a>
		</h4>
		<form action="#" th:action="@{/listaGuionesProduccion}"
			th:object="${guion}" method="post">
			<p style="display: none;">
				<input type="text" th:value="${guion.id}" id="id" name="id" />
			</p>
			<p>
				ACTOR <select id="actorPrincipal.id" name="actorPrincipal.id">
					<option value="">Ninguno</option>
					<div th:each="actor,status : ${actores}">
						<option th:value="${actor.id}"
							th:selected="${actor.id==guion.actorPrincipal.id}"><span
								th:text="${actor.nombre}"></span></option>
					</div>
				</select>
			</p>
			<p>
				ACTRIZ <select id="actrizPrincipal.id" name="actrizPrincipal.id">
					<option value="">Ninguna</option>
					<div th:each="actriz,status : ${actrices}">
						<option th:value="${actriz.id}"
							th:selected="${actriz.id==guion.actrizPrincipal.id}"><span
								th:text="${actriz.nombre}"></span></option>
					</div>
				</select>
			</p>
			<p>
				<input type="submit" value="Asignar" />
			</p>
		</form>
	</div>
</body>
</html>