<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Producciones Pomponio</title>
</head>
<body>
	<div>
		<h1>Producciones Pomponio</h1>
		<ul>
			<li>
				<h4>
					<a href="/registroGuionista">REGISTRO DE GUIONISTA</a>
				</h4>
			</li>
			<li>
				<h4>
					<a href="/registroActor">REGISTRO DE ACTOR/ACTRIZ</a>
				</h4>
			</li>
			<li>
				<h4>
					<a href="/registroGuion">REGISTRO DE GUION</a>
				</h4>
			</li>
			<li>
				<h4>
					<a href="/listaActores">LISTA DE ACTORES Y ACTRICES</a>
				</h4>
			</li>
			<li>
				<h4>
					<a href="/listaGuiones">LISTA DE GUIONES</a>
				</h4>
			</li>
			<li>
				<h4>
					<a href="/listaGuionesProduccion">LISTA DE GUIONES LISTOS PARA PRODUCCIÓN</a>
				</h4>
			</li>
		</ul>
	</div>
</body>
</html>