<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Producciones Pomponio</title>
</head>
<body>
	<div>
		<h1>Lista de Guiones Listos para Producción</h1>
		<h4>
			<a href="/">REGRESAR</a>
		</h4>
		<ul>
			<div th:each="g,status : ${guiones}">
				<li>
					<h4>
						<span th:text="${g.obra}">NOMBRE DE LA OBRA PROPUESTA</span>
					</h4>
					<p>
						<small>Por <span th:text="${g.screenwriter.nombre}">GUIONISTA</span></small>
					</p>
					<p>
						<span th:text="${g.genero}">GÉNERO DE LA OBRA</span>
					</p>
					<p>
						<span th:text="${g.idea}">IDEA CENTRAL</span>
					</p>
					<p>
						<b>Actor:</b> <span th:text="${g.actorPrincipal.nombre}">ACTOR
							PRINCIPAL</span>
					</p>
					<p>
						<b>Actriz:</b> <span th:text="${g.actrizPrincipal.nombre}">ACTRIZ
							PRINCIPAL</span>
					</p>
					<form action="#" th:action="@{/asignacionActores}"
						th:object="${guion}" method="post">
						<p style="display: none;">
							<input type="text" th:value="${g.id}" id="id" name="id" />
						</p>
						<p>
							<input type="submit" value="Asignar actores" />
						</p>
					</form>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>