<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Producciones Pomponio</title>
</head>
<body>
	<div>
		<h1>Lista de Actores y Actrices</h1>
		<h4>
			<a href="/">REGRESAR</a>
		</h4>
		<form action="#" th:action="@{/listaActores}" th:object="${tmpActor}"
			method="get">
			<p>
				NOMBRE <input type="text" th:field="*{nombre}" />
			</p>
			<p>
				RANGO DE EDADES <input type="number" min="0" max="125"
					th:field="*{edadMinima}" /> HASTA <input type="number" min="0"
					max="125" th:field="*{edadMaxima}" />
			</p>
			<p>
				<input type="submit" value="Buscar" />
			</p>
		</form>
		<ul>
			<div th:each="a,status : ${actores}">
				<li>
					<h4>
						<span th:text="${a.nombre}">NOMBRE</span>
					</h4>
					<p>
						<small>Nació en <span th:text="${a.createdAsShort}">FECHA
								DE NACIMIENTO</span></small>
					</p>
					<p>
						<span th:text="${a.genero}">GÉNERO</span>
					</p>
					<p>
						<span th:text="${a.estatura}">ESTATURA</span> cm
					</p>
					<p>
						<span th:text="${a.complexion}">COMPLEXIÓN CORPORAL</span>
					</p>
					<p>
						Ojos <span th:text="${a.ojos}">COLOR DE OJOS</span>
					</p>
					<p>
						Pelo <span th:text="${a.pelo}">COLOR DE PELO</span>
					</p>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>