<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Producciones Pomponio</title>
</head>
<body>
	<div>
		<h1>Registro de Guion</h1>
		<h4>
			<a href="/">REGRESAR</a>
		</h4>
		<form action="#" th:action="@{/listaGuiones}" th:object="${guion}"
			method="post">
			<p>
				GUIONISTA <select id="sltGuionista" th:field="*{screenwriter.id}">
					<option value="">Seleccione un/a guionista</option>
					<div th:each="g,status : ${guionistas}">
						<option th:value="${g.id}"><span th:text="${g.nombre}"></span></option>
					</div>
				</select>
			</p>
			<p>
				NOMBRE DE LA OBRA PROPUESTA <input type="text" id="txtObra"
					th:field="*{obra}" />
			</p>
			<p>
				GÉNERO DE LA OBRA <select th:field="*{genero}">
					<option value="TR">Tragedia</option>
					<option value="CO">Comedia</option>
					<option value="CU">Culebrón</option>
					<option value="FA">Fantasía</option>
				</select>
			</p>
			<p>
				IDEA CENTRAL
				<textarea id="txtIdea" th:field="*{idea}"></textarea>
			</p>
			<p>
				<input type="button" id="btnRegistrar" value="Registrar" /> <input
					type="reset" id="btnReiniciar" value="Reiniciar" />
			</p>
		</form>
	</div>
</body>
<style>
.error_input {
	border: 2px solid #eb4d4b;
}
</style>
<script th:inline="javascript">
	'use strict';

	const selectGuionista = document.querySelector('#sltGuionista');
	const inputObra = document.querySelector('#txtObra');
	const inputIdea = document.querySelector('#txtIdea');

	const botonRegistrar = document.querySelector('#btnRegistrar');
	const botonReiniciar = document.querySelector('#btnReiniciar');

	function validar() {
		let error = false;

		let guionista = selectGuionista.value;
		let obra = inputObra.value;
		let idea = inputIdea.value;

		if (guionista == '') {
			error = true;
			selectGuionista.classList.add('error_input');
		} else {
			selectGuionista.classList.remove('error_input');
		}

		if (obra == '') {
			error = true;
			inputObra.classList.add('error_input');
		} else {
			inputObra.classList.remove('error_input');
		}

		if (idea == '') {
			error = true;
			inputIdea.classList.add('error_input');
		} else {
			inputIdea.classList.remove('error_input');
		}

		if (!error)
			this.form.submit();
	}

	function reiniciar() {
		inputObra.classList.remove('error_input');
		inputIdea.classList.remove('error_input');
		selectGuionista.classList.remove('error_input');
	}

	botonRegistrar.addEventListener('click', validar);
	botonReiniciar.addEventListener('click', reiniciar);
</script>
</html>